RewriteEngine On

RewriteRule ^inicio$ index.php
RewriteRule ^login views/auth/login.php
RewriteRule ^venta views/ventas/crear_venta.php
RewriteRule ^historial views/ventas/ventas.php
RewriteRule ^agregar views/inventario/agregar_productos.php
RewriteRule ^cambios views/inventario/cambios.php
RewriteRule ^productos views/inventario/ver_productos.php
RewriteRule ^reportes views/caja/cuadre_caja.php
RewriteRule ^usuarios views/auth/usuarios.php
RewriteRule ^clientes views/clientes/clientes.php
RewriteRule ^cerrar controllers/unlog.php
