.btn_menu {
    background: linear-gradient(160deg, var(--deg_btn1), var(--deg_btn2));
    font-size: 28px;
    border: none;
    cursor: pointer;
    color: black;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}

.btn_menu:hover {
    background: linear-gradient(160deg, var(--deg_btn_h1), var(--deg_btn_h1));
}

.btn_menu img{ 
    width: 30px;
    height: 30px;
}

.sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    width: 260px;
    height: 100%;
    background: var(--deg2);
    padding-top: 40px;
    transition: 0.3s;
    z-index: 999;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 10px 20px;
}

.sidebar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.1s ease-in-out;
    display: flex;
}

.sidebar a{
    background: linear-gradient(160deg, var(--deg_btn1), var(--deg_btn2));
    border-radius: 7px;
    width: 200px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.sidebar a:hover{
    background: linear-gradient(160deg, var(--deg_btn_h1), var(--deg_btn_h1));
}

.sidebar.active {
    left: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    display: none;
    z-index: 998;
}

.overlay.active {
    display: block;
}

.header_s3 {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 12vh;
    height: 12vh;
    justify-content: center;
    align-items: center;
}

.header_s3 img{
    width: 60%;
}